# Python cache
__pycache__/
*.pyc

# pytest cache
.pytest_cache/

# ruff cache
.ruff_cache/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
.env/

# Build / packaging artifacts
*.egg-info/
dist/
build/

# .benchmark folders and files
.benchmark/

